<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
    <!-- Css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100;1,300&display=swap" rel="stylesheet">
    <!-- Title -->
    <title>Avada Construction</title>
</head>
<body>
    <!-- VueJS el Call "#app" -->
    <div id="app">
        <!-- Header -->
        <header>
            <nav>
                <!-- Navbar with VueJS component -->
                <div class="container-nav">
                    <!-- Logo / Left Navbar-->
                    <div class="logo left-nav">
                        <img src="assets/img/construction_logo.png" alt="">
                    </div>
                    <!-- Right Navbar / {{VueJsCALL}} with v-for from object-->
                    <div class="right-nav">
                        <div class="right-text" v-for="(link, index) in Navbar">
                            <a href="#">{{link.navLink}}</a>
                            <div class="link-animation">
                            </div>
                        </div>
                        <a class="btn-nav" href="#">Get Quote</a>
                    </div>
                </div>
            </nav>
            <!-- Hero Img -->
            <div class="hero-img">
                <div class="little-box">
                    <i class="fas fa-clone fa-2x"></i>
                    <p>Demos</p>
                </div>
                <div class="little-box-f">
                    <h1>$39</h1>
                    <p>On Sale</p>
                </div>
                <!-- Hero Text w Btn -->
                <div class="hero-text" v-for="(text, index) in hero">
                    <h1>{{text.bigText}}</h1>
                    <h2>{{text.littleText}}</h2>
                </div>
                <div class="hero-button">
                       <a class="hero-btn grey" href="">Explore recent work</a></button>
                       <a button class="hero-btn yellow" href="">Get a quote today</a></button>
                </div>
            </div>
            <!-- Div from Header to Body -->
            <div class="header-connect" v-for="(text, index) in connect">
                <h1>{{text.textConnect}}</h1>
                <div class="little-connect">
                        <a href="" class="btn-connect">Get a free quote</a>
                </div>
            </div>
        </header>
        <!-- Body -->
        <body>
            <!-- Specialists Section -->
            <section>
                <div class="specialists">
                    <div class="specialist-text">
                        <h1>Specialists In Modern Construction</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque iure porro, deleniti nostrum molestias at?
                            Quod unde rem suscipit laboriosam! Ipsam similique assumenda velit earum?</p>
                        </div>
                    </div>
                    <!-- Specialists with Vue Call for card (v-for)-->
                <div class="specialist-card-container">
                    <div class="specialist-card" v-for="(specialist,index) in specialists">
                        <i :class="[specialist.icon]"></i>
                        <h3>{{specialist.text}}</h3>
                        <p>{{specialist.subtitle}}</p>
                    </div>
                </div>
            </section>
            <!-- Milestone Section -->
            <section>
                <!-- Milestone with Vue Call for card (v-for)-->
                <div class="milestone">
                    <div class="milestone-card" v-for="(milestone,index) in milestones">
                        <i :class="[milestone.icon]"></i>
                        <h2>{{milestone.number}}</h2>
                        <p>{{milestone.text}}</p>
                    </div>
                </div>
            </section>
            <!-- Explore -->
            <section>
                <div class="explore">
                    <div class="explore-text">
                        <h1>Explore Recent Work</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque iure porro, deleniti nostrum molestias at?
                            Quod unde rem suscipit laboriosam! Ipsam similique assumenda velit earum?</p>
                        </div>
                    </div>
                    <div class="explore-card-container">
                        <div class="explore-card" v-for="(work,index) in works">
                            <img :src="work.img" alt="">
                        </div>
                    </div>
                    <div class="explore-all">
                        <a href="#">View all project</a>
                    </div>
            </section>
            <!-- Values -->
            <section class="bg-gray">
                <div class="values">
                    <div class="values-text">
                        <h1>Our Core Values</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque iure porro, deleniti nostrum molestias at?
                            Quod unde rem suscipit laboriosam! Ipsam similique assumenda velit earum?</p>
                        </div>
                    </div>
                    <div class="values-card-container">
                        <div class="values-card" v-for="(value,index) in values">
                            <i :class="[value.icon]"></i>
                            <h3>{{value.title}}</h3>
                            <p>{{value.text}}</p>
                        </div>
                    </div>
            </section>
        </body>
    </div>
        <!-- Vuejs -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!-- Js -->
        <script src="assets/js/app.js"></script>
</body>
</html>