*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
/* Utility */
.grey {
    background-color: #31312f;
    color: white !important;
}
.grey:hover {
    background-color: #fed23f;
    color: #6b6868 !important;
    transition: 0.4s;
}
.yellow {
    background-color: #fed23f;
    color: #6b6868 !important;
}
.yellow:hover {
    background-color: #31312f;
    color: white !important;
    transition: 0.4s;
}
.bg-gray {
    background-color: #f5f5f5;
}
.bg-turq {
    background-color: #4EA4A5;
}
.bg-blue {
    background-color: #4E6DA5;
}
.bg-orange {
    background-color: #F6722A;
}
.bg-green {
    background-color: #A7CF47;
}
/* /Utility */
body {
    font-family: 'Roboto', sans-serif;
}
/* NavBar */
.container-nav {
    width: 80%;
    margin: auto;
    display: flex;
    padding-top: 20px;
    align-content: center;
    padding-bottom: 20px;
}
.logo img{
    width: 200px;
}
.left-nav {
    flex: 2;
}
.right-nav{
    display: flex;
    align-items: center;
}
.right-text {
    font-size: 15px;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    position: relative;
}
.right-text:hover a {
    color: #fed23f;
    pointer-events: visible;
}
.link-animation {
    position: absolute;
    left: -5px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 70px solid white;
    z-index: 2;
    opacity: 0;
}
.right-text:hover .link-animation {
    opacity: 1;
}
.btn-nav{
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    padding: 10px 28px;
    background-color: #fed23f;
    margin-left: 25px;
    transition: 0.4s;
}
.btn-nav:hover{
    background-color: #1e1e1e;
    color: white;
    transition: 0,4s;   
}
nav a {
    text-decoration: none;
    color: #6b6868;
}
/* /NavBar */
/* Hero */
.hero-img {
    background-image: url("../img/home-slider-62528242.jpg");
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero-text {
    text-align: center;
}
.hero-text h1 {
    color: white;
    font-size: 55px;
    text-transform: uppercase;
    padding-bottom: 25px;
}
.hero-text h2 {
    font-size: 22px;
    font-weight: 200;
    padding-bottom: 50px;
    color: #fed23f;
}
.hero-btn {
    padding: 15px 45px;
    margin-right: 10px;
    border: none;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}
.little-box {
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}
.little-box-f {
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 75px;
}
.little-box, .little-box-f p,.little-box-f i,.little-box-f h1{
    text-align: center;
}
.little-box-f h1 {
    color: yellowgreen;
}
.little-box i {
    color: black;
}
/* Header Body Connection */
.header-connect {
    height: 120px;
    background-color: #f9d03f;
    color: #1e1e1e;
    display: flex;
    place-content: center;
    align-items: center;
    flex-direction: column;
}
.header-connect h1 {
    font-weight: 100;
    font-size: 2.2em;
}
.little-connect{
    display: flex;
    width: 100%;
    justify-content: center;
}
.btn-connect {
    padding: 10px 25px;
    background-color: #31312f;
    text-align: center;
    border: 1px solid white;
    margin-top: 20px;
    position: absolute;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.btn-connect:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: 0.4s;
}
/* Body */
/* Speacialists */
.specialists {
    width: 100%;
    margin-top: 80px;
    color: #6b6868;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.specialist-text{
    width: 50%;
    line-height: 2em;
    text-align: center;
}
.specialists h1 {
    font-size: 27px;
    font-weight: 100;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 20px;
}
.specialists h1:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 150px;
    border-bottom: 2px solid #fed23f;
}
.specialist-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.specialist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    height: fit-content;
    width: 380px;
    margin-right: 30px;
    border-radius: 10px;
    color: #6b6868;
}
.card-hover i {
    padding: 20px;
    border: 1px solid #6b6868;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 15px;
}
.card-hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-onhover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9d03f;
    border-radius: 10px;
}
.card-onhover h1 {
    padding-top: 22px;
}
.card-onhover p {
    line-height: 2em;
}
.card-onhover a {
    padding: 10px;
    text-decoration: none;
    color: #3F3F3F;
}
.btn-hover {
    border: 1px solid white;
    margin-bottom: 30px;
}
.specialist-card h3 {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 5px;
}
.specialist-card p {
    font-size: 17px;
    padding: 5px;
    line-height: 2em;
    margin-bottom: 10px;
    text-align: center;
}
/* Milestone */
.milestone::before {
    content: "";
    position: absolute;
    height: 200px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    top: -100px;
    background: #fff;
    width: 100%;
}
.milestone {
    background-image: url("../img/home-244125289.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 650px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.milestone:after {
    content: "";
    position: absolute;
    height: 200px;
    width: 100%;
    left: 0;
    right: 0;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    bottom: -100px;
    background: #fff;
}
.milestone-card {
    display: flex;
    flex-direction: column;
    margin: 50px;
    text-align: center;
}
.milestone-card i {
    color: #fed23f;
    margin: 10px 5px 0 0;
}
.milestone-card h2 {
    color: #fed23f;
    font-size: 50px;
    font-weight: 200;
}
.milestone-card p {
    color: white;
    text-transform: uppercase;
    font-weight: 100;
}
/* Explore */
.explore {
    width: 100%;
    margin-top: 80px;
    color: #6b6868;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.explore-text{
    width: 50%;
    line-height: 2em;
    text-align: center;
}
.explore h1 {
    font-size: 27px;
    font-weight: 100;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 20px;
}
.explore h1:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 150px;
    border-bottom: 2px solid #fed23f;
}
.explore-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.explore-card {
    background-color: gray;
    height: fit-content;
    width: 400px;
    height: 400px;
    margin: 15px;
}
.explore-all:before {
    content: "";
    width: 20%;
    left: 10%;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    position: absolute;
}
.explore-all {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 100px;
}
.explore-all:after {
    content: "";
    width: 20%;
    right: 10%;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;

    position: absolute;
}
.explore-all a {
    text-decoration: none;
    color: #6b6868;
}
/* Values */
.values {
    width: 100%;
    margin-top: 80px;
    color: #6b6868;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.values-text{
    width: 40%;
    line-height: 2em;
    text-align: center;
    margin-top: 100px;
}
.values h1 {
    font-size: 27px;
    font-weight: 100;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 20px;
}
.values h1:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 150px;
    border-bottom: 2px solid #fed23f;
}
.values-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.values-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    height: fit-content;
    width: 280px;
    margin-right: 30px;
    border-radius: 10px;
    color: #6b6868;
}
.values-card i {
    padding: 25px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 15px;
    color: white;
}
.values-card-container > div:nth-child(4) > i {
    padding: 25px 35px;
}
.values-card h3 {
    font-size: 25px 25px;
    font-weight: 100;
    margin-bottom: 5px;
    padding-bottom: 15px;
    position: relative;
}
.values-card h3:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 25px;
    border-bottom: 2px solid #6b6868;
}
.values-card:hover h3 {
    color: #fed23f;
}
.values-card:hover i {
    background-color: #fed23f;
}
.values-card p {
    font-size: 13px;
    padding: 10px;
    line-height: 2em;
    margin-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
}
/* Experience */
.experience::before {
    content: "";
    position: absolute;
    height: 200px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    top: -100px;
    background: #f5f5f5;
    width: 100%;
}
.experience {
    background-image: url("../img/home-parallax-144609983.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 650px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.experience:after {
    content: "";
    position: absolute;
    height: 200px;
    width: 100%;
    left: 0;
    right: 0;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    bottom: -100px;
    background: #f5f5f5;
}
.experience-text{
    width: 40%;
    line-height: 2em;
    text-align: center;
    margin-top: 100px;
}
.experience h1 {
    font-size: 27px;
    font-weight: 100;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 20px;
}
.experience h1:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 150px;
    border-bottom: 2px solid #fed23f;
}
.experience-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.experience-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 50%;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
}
.experience-card img {
    border-radius: 50%;
    margin-bottom: 20px;
    width: 120px;
}
.experience-card p > i {
    line-height: 1.5em;
    font-size: 17px;
    color: white;
}
.experience-card h2 {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    margin: 10px;
}
.experience-icon {
    margin-top: 10px;
}
.experience-icon i{
    margin-top: 10px;
    color: white;
}
/* News */
.news {
    width: 100%;
    margin-top: 10px;
    color: #6b6868;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.news-text{
    width: 50%;
    line-height: 2em;
    text-align: center;
    margin-top: 100px;
}
.news h1 {
    font-size: 27px;
    font-weight: 100;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 20px;
}
.news h1:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 150px;
    border-bottom: 2px solid #fed23f;
}
.news-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.news-card {
    background-color: white;
    width: 400px;
    margin: 15px;
}
.news-summary {
    padding: 10px 35px;
    color: #6b6868;
    line-height: 2em;
}
.news-summary > p:nth-child(2):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #6b6868;
}
.news-summary > p:nth-child(2){
    font-size: 13px;
}
.news-summary h1 {
    text-align: left;
    font-weight: 100;
    margin-bottom: -5px;
}
.news-summary p {
    padding: 10px 0;
    position: relative;
}
.news-all:before {
    content: "";
    width: 20%;
    left: 10%;
    border: 2px solid white;
    background-color: white;
    position: absolute;
}
.news-all {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
    padding-bottom:100px;
    position: relative;
}
.news-all:after {
    content: "";
    width: 20%;
    right: 10%;
    border: 2px solid white;
    background-color: white;
    position: absolute;
}
.news-all a {
    text-decoration: none;
    color: #6b6868;
}
/* Partners */
.partners {
    width: 100%;
    margin-top: 10px;
    color: #6b6868;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.partners-text{
    width: 50%;
    line-height: 2em;
    text-align: center;
    margin-top: 100px;
}
.partners h1 {
    font-size: 27px;
    font-weight: 100;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 20px;
}
.partners h1:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 150px;
    border-bottom: 2px solid #fed23f;
}
.partners-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.partners-logo img{
    width: 200px;
    margin: 30px;
    padding-top: 20px;
}
/* Before footer */
.before-footer {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("../img/about-call-to-action-57862405.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.left-before-footer {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}
.left-before-footer h1{
    position: relative;
    padding-bottom: 30px;
    font-weight: 200;
}
.left-before-footer h1:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    border-bottom: 2px solid #fed23f;
}
.left-before-footer p{
    padding-top: 30px;
    line-height: 1.5em;
}
.right-before-footer {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    text-align: center;
}
.right-before-footer a {
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 50px;
}
/* /Body */
.bg-l-gray {
    background-color: #3F3F3F;
    height: 10px;
}
/* Footer */
footer {
    background-color: #1e1e1e;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 90px;
    color: white;
}
.footer-container h1 {
    text-transform: uppercase;
    color: #fed23f;
    font-size: 1.2em;
    position: absolute;
    padding-bottom: 30px;
    top: 0;
    left: 0;
    margin-top: -30px;
}
.learn-more , .last-tweet, .contact-us, .find-us {
    margin: 10px;
    position: relative;
}
.learn-more{
    flex: 1.5;
    line-height: 2em;
}
.learn-more p {
    font-weight: 200;
    padding: 20px 0;
    margin-bottom: 20px;
}
.learn-more a {
    padding: 15px 40px;
    text-decoration: none;
}
/* Last Tweet */
.last-tweet{
    flex: 2;
    display: flex;
}
.last-tweet img {
    margin-right: 5px;
    margin-top: 40px;
}
.logo-tweet img {
    border-radius: 50px;
}
.tweet {
    margin-top: 40px;
    line-height: 1.5em;
}
.last-tweet h4 {
    font-size: 13px;
    color: gray;
}
.logo-tweet {
    margin-top: 20p;
}
.tweet-icon {
    position: relative;
    width: 400px;
}
.tweet-icon i {
    color: gray;
    position: absolute;
    bottom: 5;
    left: 0;
}
.tweet-icon p {
    color: gray;
    position: absolute;
    bottom: 5;
    right: 0;
}
/* Contact Us */
.contact-us{
    flex: 1.5;
}
.contact-us-card {
    padding-top: 30px;
}
.contact-us-container{
    display: flex;
    width: 70%;
    color: gray;
}
.contact-us-container i{
    margin-right: 20px;
    margin: 10px 10px 10px 0;
    color: gray
}
.contact-us-container p{
    margin: 10px 0;
}
/* Find US */
.find-us img{
    margin-top: 20px;
}
/* END */
.end {
    height: 80px;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.end h1 {
    font-size: 15px;
    margin-left: 10px;
    color: gray;
    font-weight: 100;
}
.end-icon i{
    margin: 0 10px;
    color: gray;
}